{% extends 'base.html.twig' %}

{% block title %}Forgotten Password!{% endblock %}

{% block body %}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal">Forgotten Password</h1>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <br/>
        <label for="inputResetPassword" class="sr-only">Temporary password</label>
        <input type="text" name="reset_password" id="inputResetPassword" class="form-control" placeholder="Temporary password" required autofocus>
        <br/>
        <label for="inputNewPassword" class="sr-only">New password</label>
        <input type="password" name="new_password" id="inputNewPassword" class="form-control" placeholder="New Password" required autofocus>
        <br/>
        <label for="inputConfirmPassword" class="sr-only">Confirm password</label>
        <input type="password" name="confirm_password" id="inputConfirmPassword" class="form-control" placeholder="Email" required autofocus>
        <br/>
        <button class="btn btn-lg btn-primary" type="submit">
            Generate my new password
        </button>

    </form>
{% endblock %}