<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div *ngIf="channel; else notChannel" >
            <h4 class="glyphicon glyphicon-comment"> Channel : {{ channel }}</h4>
          </div>
          <ng-template #notChannel>
            <h4 class="glyphicon glyphicon-comment"> Channel : Général</h4>
          </ng-template>
        </div>
        <div class="panel-body" id="chat">
          <ul class="chat">
            <div class="chat-body clear">
              <div id="chat-content" class="row" style="height: 400px; overflow-y: auto; transform: rotate(180deg)">
                <div *ngFor="let message of messages | async; let i = index" style="transform: rotate(180deg)">
                  <div class="message" style="text-align: right">{{ message.createdAt | date: 'short' }}</div>
                    <div *ngIf="message.User.username == 'ChatBot'; else notBot" >
                      <span><strong style="color: red">{{ message.User.username }} : </strong> {{ message.content}}</span>
                    </div>
                  <ng-template #notBot>
                    <span>
                      <strong style="color: blue">{{    message.User.username }} : </strong>
                      <div *ngIf="message.content.substr(0,4) === 'http' ; else notImage" >
                        <img src="{{ message.content}}" alt="">
                      </div>
                      <ng-template #notImage>
                        {{ message.content}}
                      </ng-template>
                    </span>
                  </ng-template>
                  <hr>
                  </div>
              </div>
            </div>
          </ul>
        </div>
        <form name="messageForm" (ngSubmit)="sendMessage(f)" #f="ngForm">
          <div class="panel-footer" *ngFor="let user of user">
            <div class="input-group">
              <input type="hidden" id="userId" class="form-control" name="userId" ngModel="{{ user.id }}">
              <input id="content" type="text" class="form-control input-sm" name="content" placeholder="Ecrit ton message ici..." ngModel/>
              <span class="input-group-btn">

                <button class="btn btn-warning btn-sm" id="btn-chat" onclick="javascript:document.messageForm.content.value=''">Envoyer</button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3">
      <h2>Connectés</h2>
      <ul>
        <div *ngFor="let connectedUser of connectedUsers | async; let i = index">
          <li style="color: green">{{ connectedUser.username}}</li>
        </div>
      </ul>
      <h2>Non Connectés</h2>
      <ul>
        <div *ngFor="let disconectedUser of disconnectedUsers | async; let i = index">
          <li style="color: red">{{ disconectedUser.username}}</li>
        </div>
      </ul>
    </div>
  </div>
</div>
